.container {
  display: grid;
  /* 最小値240px 最大値1fr */

  /* grid-template-rows: 200px 200px; */
  gap: 16px;
}

.fill {
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
}

.fit {
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  margin-top: 50px;
}

.item {
  background-color: orange;
  padding: 10px;
}
