.item {
  background-color: orange;
  margin: 10px;
  padding: 20px;
}

.container {
  display: flex;
  height: 100vh;
  /* align-items: stretch; */
  /* align-items: flex-start; */
  align-items: baseline;
}

.lg {
  font-size: xx-large;
}
