.container {
  display: grid;
  /* 最小値240px 最大値1fr */
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  grid-template-rows: 200px 200px;
  gap: 16px;
  
}

.item {
  background-color: orange;
  padding: 10px;
}
